
<!DOCTYPE html>
<html lang="en">
<title>Lux coding Acadermy</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-theme-l1">Lux coding Acadermy</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Python</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">JavaScript</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Data Structure</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Algorithm</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Contact</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">About</a>
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Lux coding Acadermy</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Python</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">JavaScript</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Data Structure</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Algorithm</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Python</h1>
      <p>Python was originally conceptualized by Guido van Rossum in the late 1980s as a member of the National Research Institute of Mathematics and Computer Science. Initially, it was designed as a response to the ABC programming language that was also foregrounded in the Netherlands. . 
Python is a free and open source high level programming language which is interplated, which supports object oreinted, procedural oriented, functional and imperative oriented programming paradigm.</p>

<h4> SHORT HAND NOTES. </h4>
<p>
Python is simple and easy to learn.<br>
It is free and open source meaning it source code can be edited and redistributed.<br>
Python is a highlevel Langugage which is distributed.<br>
it is a scripting language.<br>
</p>
    </div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center">
        
        <input type="button" class="w3-button w3-grey" value="Learn Django">
 
      </p>
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">
      
        <input type="button" class="w3-button w3-grey" value="Learn Git & VCS">
 
      </p>
    </div>
  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">JavaScript</h1>
<p>JavaScript was created by Brendan Eich in 1995 during his time at Netscape Communications. It was inspired by Java, Scheme and Self. JavaScript was initially developed for client-side and has been improved to server side programming language, also with the use of react native you can build Android and IOS Mobile application. It is an object based language which employes the use of object and methods in programming. 
Remember: In JavaScripts objects are king, when you are good at Objects you are good in JavaScript.

Like other scripting language JavaScript is a light weigh, ie does not require a compiler since it is an interplated language. JavaScript mainly executes in the contex of a webpage,this is when the a client computer has a web browser which is javaScript enalbled.
</p>
<h4> What JavaScript can do</h4>
<p>
Put content on HTML page on fly.<br>
Make Web pages Responsive.<br>
Create cookies<br>
Validate Forms<br>
Detect a user information<br>
create Animation, slidesshows, scrollers<br>
You can build Apps WIth JavaScript frameworks like Angularjs, Reactjs Backbonejs<br>
</p>

    </div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center">
       <input type="button" class="w3-button w3-grey" value="Learn DataBase">
 


      </p>
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">
         <input type="button" class="w3-button w3-grey" value="Learn HTML & CSS">
 

      </p>
    </div>
  </div>

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Data Structures</h1>
<p>
        

        An algorithm is a sequence of unambiguous instructions used for solving a problem, which can be implemented (as a program) on a computer

        Algorithms are used to convert our problem solution into step by step statements. These statements can be converted into computer programming instructions which form a program. This program is executed by a computer to produce a solution. Here, the program takes required data as input, processes data according to the program instructions and finally produces a result
</p>
       <h4>  Specifications of Algorithms </h4>
<p>         
<b> Every algorithm must satisfy the following specifications: </b>

Input - Every algorithm must take zero or more number of input values from external. <br>
Output - Every algorithm must produce an output as result.<br>
Definiteness - Every statement/instruction in an algorithm must be clear and unambiguous (only one interpretation).<br>
Finiteness - For all different cases, the algorithm must produce result within a finite number of steps.<br>
Effectiveness - Every instruction must be basic enough to be carried out and it also must be feasible.<br>


</p>
    </div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center">
         <input type="button" class="w3-button w3-grey" value="Learn Blockchain">
 
       

      </p>
      <p class="w3-border w3-padding-large w3-padding-64 w3-center">
        
         <input type="button" class="w3-button w3-grey" value="Learn Data Science">
 
      
      </p>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a class="w3-button w3-black" href="#">1</a>
      <a class="w3-button w3-hover-black" href="#">2</a>
      <a class="w3-button w3-hover-black" href="#">3</a>
      <a class="w3-button w3-hover-black" href="#">4</a>
      <a class="w3-button w3-hover-black" href="#">5</a>
      <a class="w3-button w3-hover-black" href="#">»</a>
    </div>
  </div>

  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
     <center> <h4>Lux Coding Acadermy</h4></center>
    </div>

    <div class="w3-container w3-theme-l1">
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">Lux Global Internationals</a></p>
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
